html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  }
  
  body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
  }
  
  a {
    color: #377ba8;
  }
  
  hr {
    border: none;
    border-top: 1px solid lightgray;
  }
  
  nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
  }
  
  nav h1 {
    flex: auto;
    margin: 0;
  }
  
  nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }
  
  nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a, nav ul li span, header .action, .taction {
    display: block;
    padding: 0.5rem;
  }
  
  .content {
    padding: 0 1rem 1rem;
  }
  
  .content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    /* flex: auto; */
    margin: 1rem 0 0.25rem 0;
  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  .post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .post > header > div:first-of-type {
    flex: auto;
  }
  
  .post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  .post .about {
    color: slategray;
    font-style: italic;
  }
  
  .post .body {
    white-space: pre-line;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .content input, .content textarea {
    margin-bottom: 1em;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
    align-self: start;
    /* min-width: 10em; */
  }

  input[type=submit] {
    align-self: start;
    /* min-width: 10em; */
  }

  #pCreate input[type=submit]{
    align-self: start;
    min-width: 10em;
  }

  .accountItm a{
    margin: 0 10px 0 0;
  }

  .danger,#pupdate,#comment input[type=submit] {
    min-width: 10em;
  }

/* 长度大于800px，用省略号代替 */
  #pTitle {
    width: 800px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  textarea,.cmt-detail {
    word-break:break-all;
    word-wrap:break-word;
  }

  .tofavorite{display:block;float:left;position: relative;height:30px;padding:0px 16px;margin-top:12px;border:1px solid #e3e3e3;background-color:#eee;line-height:30px;padding-left:36px;cursor:pointer;bottom:3px;}
  .tofavorite ins{display:block;position:absolute;top:7px;left:10px;width:17px;height:17px;background-position:-120px -100px;}
  .tofavorite.fok ins{background-position:-141px -100px;}
  .tofavorite.y ins{background-position:-120px -100px;}
  .cai,a.gotop span,.kong, .tofavorite ins, .cartico2 {background:url(./img/sprite.png) no-repeat;}